
#nextButton {
    opacity: 0; /* 기본 숨김 */
    transform: translate(125%);
    transition: none; /* 기본 상태에서는 트랜지션 없음 */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* 초기 숨김 */
}

#nextButton.animate {
    display: inline-block; /* 애니메이션 적용 시 표시 */
    animation: button-in 1s ease-in-out forwards; /* 애니메이션 적용 */
    animation-delay: 0s;
}

@keyframes button-in {
    0% {
        opacity: 0;
        transform: translate(125%, 0); /* 오른쪽에서 시작 */
    }
    100% {
        opacity: 1;
        transform: translate(0, 0); /* 제자리로 이동 */
    }
}

#nextButton:hover {
    background-color: #0056b3;
}



.slide-button {
    opacity: 0; /* 버튼 숨김 */
    transform: translate(125%); /* 아래에서 시작 */
    animation: button-in 1s ease-in-out forwards;
    animation-delay: 1s; /* 텍스트 이후에 버튼 나타남 */
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}



@keyframes button-in {
    0% {
        opacity: 0;
        transform: translate(125%);
    }
    100% {
        opacity: 1;
        transform: translate(125%);
    }
}

.slide-button:hover {
    background-color: #0056b3;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}